/*Common Styles*/

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BEBAS___-webfont.woff') format('woff'),
    url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'st_mariethin';
    src: url('../fonts/StMarie-Thin-webfont.eot');
    src: url('../fonts/StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StMarie-Thin-webfont.woff') format('woff'),
    url('../fonts/StMarie-Thin-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

.container {
    margin: 0 auto;
}


/*Navigation*/

header {
    position: fixed;
    width: 100%;
    top: 0;

}

header ul {
    list-style: none;
}

.company__first {
    font-size: 37px;
    color: #fb9c06;
    font-family: 'bebasregular', sans-serif;
}

.company__last {
    color: #6e6d6b;
    font-family: 'bebasregular', sans-serif;
    font-size: 37px;
}

h1 {
    color: #fb9c06;
    font-family: 'bebasregular', sans-serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 26px;
}

h2 {
    width: 346px;
    height: 35px;
    color: #6e6d6b;
    font-family: 'bebasregular', sans-serif;
    font-size: 37px;
    font-weight: 400;
    line-height: 26px;
}

/*Top section*/
.or-top {
    margin-top: 130px;
    border-top: 4px solid #fb9c06;
    border-bottom: 4px solid #fb9c06;
    padding: 130px 0 100px 0;
    background: url("../images/big-orange-bg.png") center no-repeat;
    background-size: cover;
}